{% extends 'base.html'%}
{% load static%}
{% block contenido%}
<section class="full-width header-well">
	<div class="full-width header-well-icon">
		<i class="zmdi zmdi-washing-machine"></i>
	</div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#tabNewProduct" class="mdl-tabs__tab is-active">NUEVA</a>
	</div>
	<div class="mdl-tabs__panel is-active" id="tabNewProduct">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-primary text-center tittles">
						Nueva Cotización
					</div>
					<div class="full-width panel-content">

						<p class="text-center">
							<a href="{% url 'ventas:crearCotizacion' %}">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary"
									id="btn-addProvider">
									<i class="zmdi zmdi-plus"></i>
								</button>
							</a>
						<div class="mdl-tooltip" for="btn-addProvider">Generar Cotización</div>
						</p>

						<div class="contact-form ">
							<form method="POST">
								{% csrf_token %}
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--12-col">
										<legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i>
											&nbsp; Datos para la cotización</legend><br>
									</div>


									<div class="mdl-textfield__input">
										<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
											Producto {{form.producto}}
										</div>
									</div>

									<div class="mdl-textfield__input">
										<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
											Total {{form.total}}
										</div>
									</div>



									<div class="mdl-cell mdl-cell--12-col">
										<legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i>
											&nbsp; Datos del Empleado</legend><br>
									</div>
									<div class="mdl-textfield__input">
										<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
											Empleado {{form.empleado}}
										</div>
									</div>

								</div>


								<p class="text-center">
									<button class="button55 " style='width:130px; height:45px'
										type="submit">Guardar</button>
								</p>

							</form>
						</div>

					

					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}