{% extends 'base.html'%}
{% load static%}
{% block contenido%}
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-account"></i>
			</div>
			
		</section>
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a href="#tabNewAdmin" class="mdl-tabs__tab is-active">NUEVO</a>
				<a href="#tabListAdmin" class="mdl-tabs__tab">LISTA</a>
			</div>
			<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Nuevo Empleado
							</div>
							<div class="full-width panel-content">



								<p class="text-center">
									<a href="{% url 'usuarios:crearempleado' %}">
										<button
											class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary"
											id="btn-addProvider">
											<i class="zmdi zmdi-plus"></i>
										</button>
									</a>
								<div class="mdl-tooltip" for="btn-addProvider">Agregar Empleado</div>
								</p>
		
								<div class="contact-form ">
									<form method="POST">
										{% csrf_token %}
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--12-col">
									        <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; DATOS EMPLEADO</legend><br>
									    </div>

									    <div class="mdl-textfield__input">
											<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
												Nombre {{form.nombre}}
	
											</div>
										</div>

										<div class="mdl-textfield__input">
										<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
											Apellido {{form.apellido}}

										</div>
									</div>

									<div class="mdl-textfield__input">
										<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
											Telefono {{form.telefono}}

										</div>
									</div>

										<div class="mdl-cell mdl-cell--12-col">
									        <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; Tipo de Empleado</legend><br>
									    </div>
										<div class="mdl-textfield__input">
											<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
												Tipo Empleado {{form.tipo}}
	
											</div>
										</div>
										
										<div class="mdl-textfield__input">
											<div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
											    Disponibilidad {{form.disponibilidad}}
	
											</div>
										</div>

									</div>

									<p class="text-center">
										<button class="button55 " style='width:130px; height:45px'
											type="submit">Guardar</button>
									</p>

								</form>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mdl-tabs__panel" id="tabListAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-success text-center tittles">
								Lista Empleados
							</div>
							<div class="full-width panel-content">
								<form action="#">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
										<label class="mdl-button mdl-js-button mdl-button--icon" for="searchAdmin">
											<i class="zmdi zmdi-search"></i>
										</label>
										<div class="mdl-textfield__expandable-holder">
											<input class="mdl-textfield__input" type="text" id="searchAdmin">
											<label class="mdl-textfield__label"></label>
										</div>
									</div>
								</form>
								<div class="mdl-list">
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-account mdl-list__item-avatar"></i>
											<span>1. Nombre</span>
											<span class="mdl-list__item-sub-title">Tipo</span>
										</span>
										<a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
									</div>
									<li class="full-width divider-menu-h"></li>
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-account mdl-list__item-avatar"></i>
											<span>2. Nombre</span>
											<span class="mdl-list__item-sub-title">Tipo</span>
										</span>
										<a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
									</div>
									<li class="full-width divider-menu-h"></li>
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-account mdl-list__item-avatar"></i>
											<span>3. Nombre</span>
											<span class="mdl-list__item-sub-title">Tipo</span>
										</span>
										<a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
									</div>
									<li class="full-width divider-menu-h"></li>
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-account mdl-list__item-avatar"></i>
											<span>4. Nombre</span>
											<span class="mdl-list__item-sub-title">Tipo</span>
										</span>
										<a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
									</div>
									<li class="full-width divider-menu-h"></li>
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-account mdl-list__item-avatar"></i>
											<span>5. Nombre</span>
											<span class="mdl-list__item-sub-title">Tipo</span>
										</span>
										<a class="mdl-list__item-secondary-action" href="#!"><i class="zmdi zmdi-more"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}