{% load static %}

<!-- 
* Copyright 2018 Carlos Eduardo Alfaro Orellana
https://www.youtube.com/c/CarlosAlfaro007
-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel=" stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/sweetalert2.css' %}">
	<link rel="stylesheet" href="{% static 'css/material.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="{% static 'js/material.min.js' %}" ></script>
	<script src="{% static 'js/sweetalert2.min.js' %}" ></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}" ></script>
	<script src="{% static 'js/main.js' %}" ></script>
</head>
<body>

	<!-- navLateral -->
	<section class="full-width navLateral">
		<div class="full-width navLateral-bg btn-menu"></div>
		<div class="full-width navLateral-body">
			<div class="full-width navLateral-body-logo text-center tittles">
				<i class="zmdi zmdi-close btn-menu"></i> HOME
			</div>
			<figure class="full-width navLateral-body-tittle-menu">
				<div>
					<img src="{% static 'assets/img/logo.png' %}" width="1000px" class="img-responsive">
				</div>
				<figcaption>
					<span>
						CompuAcces<br>
					</span>
				</figcaption>
			</figure>
			<nav class="full-width">
				<ul class="full-width list-unstyle menu-principal">
					<li class="full-width">
						<a href="{%url 'login:homeapp'%}" class="full-width">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-view-dashboard"></i>
							</div>
							<div class="navLateral-body-cr">
								HOME
							</div>
						</a>
					</li>
					<li class="full-width divider-menu-h"></li>
					<li class="full-width">
						<a href="#!" class="full-width btn-subMenu">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-case"></i>
							</div>
							<div class="navLateral-body-cr">
								ADMINISTRACION
							</div>
							<span class="zmdi zmdi-chevron-left"></span>
						</a>
						<ul class="full-width menu-principal sub-menu-options">
							<li class="full-width">
								<a href="{%url 'administracion:proveedorapp'%}" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-truck"></i>
									</div>
									<div class="navLateral-body-cr">
										PROVEEDORES
									</div>
								</a>
							</li>							
							
							<li class="full-width">
								<a href="{%url 'administracion:productosapp'%}" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-washing-machine"></i>
									</div>
									<div class="navLateral-body-cr">
										PRODUCTOS
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="full-width divider-menu-h"></li>
					{% for group in request.user.groups.all %}
					{% if group.name == 'Administrador' %}
					<li class="full-width">
						<a href="#!" class="full-width btn-subMenu">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-face"></i>
							</div>
							<div class="navLateral-body-cr">
								USUARIOS
							</div>
							<span class="zmdi zmdi-chevron-left"></span>
						</a>
						<ul class="full-width menu-principal sub-menu-options">
							<li class="full-width">
								<a href="{%url 'usuarios:usuariosapp'%}" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-account"></i>
									</div>
									<div class="navLateral-body-cr">
										AGREGAR EMPLEADO
									</div>
								</a>
							</li>
							<li class="full-width">
								<a href="{%url 'login:registro'%}" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-account"></i>
									</div>
									<div class="navLateral-body-cr">
										CREAR USUARIO
									</div>
								</a>
							</li>
							
						</ul>
					</li>
					{% endif %}
					{% endfor %}

					<li class="full-width divider-menu-h"></li>
					<li class="full-width">
						<a href="#!" class="full-width btn-subMenu">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-case"></i>
							</div>
							<div class="navLateral-body-cr">
								VENTAS
							</div>
							<span class="zmdi zmdi-chevron-left"></span>
						</a>
						
						<ul class="full-width menu-principal sub-menu-options">
							<li class="full-width">
								<a href="{%url 'ventas:cart'%}" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-washing-machine"></i>
									</div>
									<div class="navLateral-body-cr">
										REGISTRAR VENTA
									</div>
								</a>
							</li>
							<li class="full-width">
								<a href="{%url 'ventas:sales'%}" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-washing-machine"></i>
									</div>
									<div class="navLateral-body-cr">
										LISTADO DE VENTAS
									</div>
								</a>
							</li>
						</ul>
					</li>
				
					<li class="full-width divider-menu-h"></li>
					<li class="full-width">
						<a href="{%url 'cliente:clientesapp'%}" class="full-width">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-face"></i>
							</div>
							<div class="navLateral-body-cr">
								CLIENTES
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<!-- pageContent -->
	<section class="full-width pageContent">
		<!-- navBar -->
		<div class="full-width navBar">
			<div class="full-width navBar-options">
				<i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>	
				<div class="mdl-tooltip" for="btn-menu">Ocultar / Mostrar MENU</div>
				<nav class="navBar-options-list">
					<ul class="list-unstyle">
						<li class="btn-exit" id="btn-exit">
							<a href="{%url 'login:logoutapp'%}">
							<i class="zmdi zmdi-power"></i>
							<div class="mdl-tooltip" >Cerrar Sesion</div>
						</a>
						</li>
						<li class="text-condensedLight noLink" ><small>{{user.username}}</small></li>
						<li class="noLink">
							<figure>
								<img src="{% static 'assets/img/avatar-male.png'%}" alt="Avatar" class="img-responsive">
							</figure>
						</li>
					</ul>
				</nav>
			</div>
		</div>
        {% block contenido %}
        {% endblock %}
    </section>
  </body>
</html>
       