{% extends 'base.html'%}
{% load static%}
{% block contenido%}
	<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-shopping-cart"></i>
			</div>
			
		</section>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<div class="table-responsive">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
						<thead>
							<tr>								
								<th>ID</th>
								<th class="mdl-data-table__cell--non-numeric">Date</th>
								<th>Cliente</th>
								<th>Total</th>
								<th>Empleado</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>001</td>
								<td class="mdl-data-table__cell--non-numeric">11/04/2022</td>
								<td>Juan Lopez</td>
								<td>500.00</td>
								<td>Marcos</td>
							
							</tr>
							<tr>
								<td>002</td>
								<td class="mdl-data-table__cell--non-numeric">11/04/2022</td>
								<td>Lucia Fuentes</td>
								<td>70.00</td>
								<td>Marcos</td>
								
							</tr>
							<tr>
								<td>003</td>
								<td class="mdl-data-table__cell--non-numeric">11/04/2022</td>
								<td>Pedro Maldonado</td>
								<td>340.00</td>
								<td>Marcos</td>
								
							</tr>
							<tr>
								<td>004</td>
								<td class="mdl-data-table__cell--non-numeric">11/04/2022</td>
								<td>Carlos Orozco</td>
								<td>700.00</td>
								<td>Marcos</td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endblock %}